{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "airbnb-base"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"packageDir": "./"}],
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
